@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    background: linear-gradient(-45deg, #0056b3, #002a5c, #003f7f, #0073e6);
    background-size: 300% 300%;
    animation: gradientAnimation 10s ease infinite;
}

/* Botão "Voltar ao Topo" */
#myBtn {
    display: none; /* Inicialmente oculto */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    padding: 15px;
    background-color: rgba(0, 86, 179, 0.8); /* Cor azul com transparência */
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* Suaviza as transições */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0.7; /* Torna o botão mais transparente */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Alteração de cor quando o mouse passa por cima */
#myBtn:hover {
    background-color: #004085; /* Cor normal ao passar o mouse */
    opacity: 1; /* Tornar o botão totalmente visível */
    transform: scale(1.1); /* Aumenta o botão ao passar o mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra mais forte */
}

/* Animação para aparecer o botão */
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(30px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* Botão exibido com animação */
#myBtn.show {
    animation: fadeIn 0.5s ease-out;
}

/* Ícone do botão */
#myBtn ion-icon {
    font-size: 24px; /* Tamanho do ícone */
    transition: transform 0.3s ease; /* Suaviza o movimento do ícone */
}

/* Efeito ao passar o mouse sobre o ícone */
#myBtn:hover ion-icon {
    transform: rotate(45deg); /* Rotaciona o ícone ao passar o mouse */
}

/* Estilos para alinhar o texto */
.title,
.subtitle {
    text-align: center;
    width: 100%;
    margin: 10px 0;
}

/* Ajuste para exibir o título no centro */
.carousel-item .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Ajuste para exibir a imagem no centro */
.carousel-item .col-md-6 img {
    margin: auto;
    display: block;
}

/* Centralizar título "Projetos" na seção #features */
#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
}

#features h2 {
    margin-bottom: 20px;
}

#features p {
    text-align: justify;
}

/* Estilização CSS para a classe active-img */
.active-img {
    display: block;
    border: 2px solid transparent;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.8), 
                0 0 10px rgba(0, 86, 179, 0.6), 
                0 0 15px rgba(0, 86, 179, 0.4);
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
    border-radius: 8px;
}

/* Quando o mouse passa por cima, o efeito neon aumenta */

.active-img:hover {
    transform: scale(1.05);
    border-color: rgba(0, 86, 179, 1);
}

img {
    max-width: 100%;
    height: auto;
}

#imageContainer img {
    display: none; /* Apenas imagens dentro do container começam ocultas */
}


#imageContainer img.active-img {
    display: block;
    border: 2px solid transparent;
    box-shadow: 0 0 10px #0056b3, 0 0 20px #0056b3, 0 0 30px #0056b3;
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
    border-radius: 8px;
}

#imageContainer img.active-img:hover {
    transform: scale(1.05);
    border-color: #0056b3;
}

.neon-image {
    max-width: 80%;
    height: auto;
    display: block;
    margin: auto;
}
